.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.ant-radio-group {
  margin-bottom: 5rem;
}
